*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: tomato;
  color: white;
  padding: 10px;
}

.ul{
  display: flex;
  list-style: none;
  justify-content: end;
  gap: 10px;
  margin-right: 20px;
}

.link{
  color: white;
  text-decoration: none;
}
